@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --font-sans: "Libre Baskerville", serif;
  --radius: 0.625rem;

  --background: oklch(0.9755 0.0045 258.3245);
  --foreground: oklch(0.2558 0.0433 268.0662);
  --card: oklch(0.9341 0.0132 251.5628);
  --card-foreground: oklch(0.2558 0.0433 268.0662);
  --popover: oklch(0.9856 0.0278 98.0540);
  --popover-foreground: oklch(0.2558 0.0433 268.0662);
  --primary: oklch(0.4815 0.1178 263.3758);
  --primary-foreground: oklch(0.9856 0.0278 98.0540);
  --secondary: oklch(0.8567 0.1164 81.0092);
  --secondary-foreground: oklch(0.2558 0.0433 268.0662);
  --muted: oklch(0.9202 0.0080 106.5563);
  --muted-foreground: oklch(0.4815 0.1178 263.3758);
  --accent: oklch(0.6896 0.0714 234.0387);
  --accent-foreground: oklch(0.9856 0.0278 98.0540);
  --destructive: oklch(0.2611 0.0376 322.5267);
  --destructive-foreground: oklch(0.9856 0.0278 98.0540);
  --border: oklch(0.7791 0.0156 251.1926);
  --input: oklch(0.6896 0.0714 234.0387);
  --ring: oklch(0.8567 0.1164 81.0092);
}

.dark {
  --background: oklch(0.2558 0.0433 268.0662);
  --foreground: oklch(0.9755 0.0045 258.3245);
  --card: oklch(0.3058 0.035 264);
  --card-foreground: oklch(0.9755 0.0045 258.3245);
  --popover: oklch(0.3058 0.035 264);
  --popover-foreground: oklch(0.9755 0.0045 258.3245);
  --primary: oklch(0.8567 0.1164 81.0092);
  --primary-foreground: oklch(0.2558 0.0433 268.0662);
  --secondary: oklch(0.4815 0.1178 263.3758);
  --secondary-foreground: oklch(0.9856 0.0278 98.0540);
  --muted: oklch(0.3358 0.024 264);
  --muted-foreground: oklch(0.9202 0.0080 106.5563);
  --accent: oklch(0.6896 0.0714 234.0387);
  --accent-foreground: oklch(0.2558 0.0433 268.0662);
  --destructive: oklch(0.64 0.145 22);
  --destructive-foreground: oklch(0.9856 0.0278 98.0540);
  --border: oklch(0.4258 0.025 264);
  --input: oklch(0.4258 0.025 264);
  --ring: oklch(0.8567 0.1164 81.0092);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
